<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../assets/css/cover-letter/template_1.css" />
    </head>
    <body>
        <main class="rct">
            <div class="container-fluid">
                <section class="rct__header">
                    <div class="row">
                        <div class="rct__header__info col-xs-12">
                            <p class="rct__header__info__applying_date">October 7, 2023</p>
                            <h1 class="rct__header__info__username text-uppercase">anthony davies</h1>
                            <p class="rct__header__info__job_position h4">Web Developer</p>
                            <p class="rct__header__info__company_address">Dorsoduro. 701-704, 30123 Venezia VE, Italy</p>
                        </div>
                    </div>
                </section>
                <section class="rct__content text-justify">
                    <p>Dear, <strong class="rct__header__to_whom">Nobir Hossain Samuel</strong></p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut doloribus unde voluptates voluptate doloremque impedit molestiae
                        enim dolorem in? Exercitationem cumque dolores, eaque itaque harum facere qui perspiciatis veritatis vel asperiores tenetur
                        veniam rerum aliquid aperiam iste quasi doloribus maxime quis praesentium aspernatur ab earum id. Libero quam voluptatibus
                        voluptatem.
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid similique ut quasi quis ad nisi labore aliquam molestiae
                        ipsum expedita! Expedita laborum neque corporis possimus ipsum ullam excepturi totam et omnis autem. Sint quisquam dignissimos
                        dolor consequatur ducimus laudantium, nesciunt accusantium error quis tempore perspiciatis expedita unde odit omnis suscipit!
                        Quos amet, ipsum reiciendis saepe animi eius inventore iste qui architecto sint corporis facilis voluptatem temporibus dolores
                        beatae sunt aspernatur id eum sit, nesciunt necessitatibus accusantium. Obcaecati rerum aspernatur laboriosam odit corrupti
                        libero eligendi animi sint corporis eveniet, placeat, fugiat tempore voluptatibus harum numquam officiis pariatur, delectus
                        natus sequi dolore!
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, illum. Magnam distinctio facere natus, quod ipsam dolore
                        vitae eligendi mollitia.
                    </p>
                </section>
                <section class="rct__footer">
                    <p class="rct__footer__signature">Sincerely,</p>
                    <p class="rct__footer__name text-capitalize">anthony davies</p>
                </section>
            </div>
        </main>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Code
            });
        </script>
    </body>
</html>
