@using Microsoft.AspNetCore.Http
@{
    Layout = null;

    // Full URL is required otherwise DinkToPdf will not get the CSS style
    var cssUrl = (string assetUrl) => $"{Context.Request.Scheme}://{Context.Request.Host.ToString()}{Url.Content(assetUrl)}";
}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="@cssUrl("~/template/vendor/bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@cssUrl("~/template/css/template.css")" />
    </head>
    <body>
        <main class="rct">
            <div class="container-fluid">
                <section class="rct__header">
                    <p class="rct__header__applying_date">October 7, 2023</p>
                    <h1 class="rct__header__username">John Doe</h1>
                    <p class="rct__header__job_position"></p>
                    <p class="rct__header__company_address"></p>
                </section>
                <section class="rct__content text-justify">
                    <p>Dear, <strong class="rct__header__to_whom">X</strong></p>
                </section>
                <section class="rct__footer">
                    <p class="rct__footer__signature">Sincerely,</p>
                    <p class="rct__footer__name">John Doe</p>
                </section>
            </div>
        </main>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Code
            });
        </script>
    </body>
</html>
