@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <div class="text-center">
        <h2 class="text-danger">@ViewData["Title"]!</h2>
        <hr>
        <div class="text-secondary">
            <h6>You do not have access permission or taken invalid attempt.</h6>
        </div>
    </div>
</header>