<section id="termsofuse" class="mt-5 w-75 mx-auto">
    <h1 class="text-center">ResumeCraft's <br />Terms of Uses</h1>
    <div class="container">
        <p class="mb-5">
            ResumeCraft app welcomes you with gratitude. Many thanks for using ResumeCraft and supporting us!<br /><br />

            Please read these Terms of Use before using ResumeCraft.<br /><br />

            Your access to use of the Service is conditioned on your acceptance of and compliance with these Terms of Use. The Terms apply to all visitors, users and others who access or use ResumeCraft.<br /><br />

            By accessing or using ResumeCraft, you agree to be bound by these Terms of Use. If you disagree with any part of the Terms, we kindly ask you to stop using ResumeCraft.
        </p>
  
        
        <h1 id="content">1. The ResumeCraft Content</h1>
        <p class="mb-5" style="text-align: justify">
            All materials, functions, software, and operations displayed on or associated with ResumeCraft, including directories, articles, images, software code, and other content, are safeguarded by copyrights and proprietary rights. These constitute the sole intellectual property of ResumeCraft.

            Utilization of any trademark, logo, copyrighted material, or proprietary data from ResumeCraft through framing or similar techniques requires explicit written consent. Decompilation, reverse engineering, or altering software and content on ResumeCraft is prohibited. Usage of data extraction tools or methods for ResumeCraft is not allowed.

            <br /><br />ResumeCraft respects intellectual property rights. For copyright infringement concerns or infringing material on ResumeCraft, please contact us.

            <br /> <br />Information on ResumeCraft serves general purposes. Despite efforts for accuracy, we don't ensure completeness or reliability, making reliance on the content at your own risk.
        </p>

        <h1>2. Acceptable Use</h1>
        <p>
            Your utilization of ResumeCraft must not result in any harm, impairment, or damage to the platform, including actions that are illegal, fraudulent, or harmful. Usage linked to malicious purposes, such as transmitting spyware, viruses, or other harmful software, is strictly prohibited.

            <br /><br />Respect for copyright and proprietary rights of individuals or entities is paramount when using ResumeCraft. Systematic data collection, including scraping and data mining, demands written consent from ResumeCraft.

            <br /><br />Creating resumes, cover letters, or portfolios for third parties using ResumeCraft is prohibited, unless through an authorized Business/Enterprise account. Selling or trading layouts or documents from ResumeCraft is forbidden. Different terms apply for B2B services.

            <br /><br />Unsolicited commercial communications are not allowed via ResumeCraft. Marketing activities require explicit written consent from ResumeCraft.

            <br /><br />To use ResumeCraft, you must be at least 18 years old. Adherence to these guidelines ensures responsible and legitimate use of the platform.
        </p>

        <h1>3. Security</h1>
        <p>ResumeCraft has employed reasonable technical and organizational measures to safeguard your private information against unintended loss and unauthorized access, modification, or disclosure. However, we cannot provide absolute assurance that unauthorized third parties will be unable to circumvent these measures or exploit your private information for inappropriate intentions.</p>

        <h1>4. Links To Other Software/Websites/Services</h1>
        <p>
            ResumeCraft might include links to third-party software, websites, or services not owned or controlled by ResumeCraft. We lack authority over, and bear no responsibility for, the content, privacy policies, or practices of such third-party entities.

            <br /><br />You acknowledge and accept that ResumeCraft holds no liability for any damage or loss arising from the use of or reliance on any content, goods, or services accessible through such software, websites, or services.

            <br /><br />Furthermore, any interactions or engagements with advertisers featured on ResumeCraft, including payment, product delivery, and other terms, are solely between you and the advertisers. ResumeCraft is not responsible for any losses resulting from such interactions.

            <br /><br />We cannot be held accountable for issues caused by malicious software, viruses, etc., that might affect your computer and compromise ResumeCraft's data, potentially putting your information at risk. We strongly recommend safeguarding your device with antivirus software and conducting regular device checks.

            <br /><br />Our team is dedicated to offering you professional and thoroughly researched content to aid you throughout your career journey. Occasionally, content might originate from third-party software, websites, or services.

            <br /><br />We highly advise you to review the terms of use and privacy policies of any third-party software, websites, or services you access through ResumeCraft.
        </p>

        <h1>5. Warranty and Premium Account</h1>
        <p>
            ResumeCraft strives to offer exemplary services and products. However, you acknowledge and agree that ResumeCraft is provided "as is" and "as available," without any expressed or implied representations or warranties. Notwithstanding, ResumeCraft does not guarantee:
            <br /><br />
            1. Continuous availability or availability at all times.<br /><br />
            2. The completeness, truth, accuracy, or absence of deception in the information on ResumeCraft.<br /><br />
            3. Alignment with your specific requirements.<br /><br />
            4. Uninterrupted or secure access to ResumeCraft at any given time or location.<br /><br />
            5. 24/7 constant operation of ResumeCraft.<br /><br />

            While we make every effort to ensure your data's continuous presence in your account and minimize the likelihood of data loss, we cannot guarantee an infallible experience. Data loss is improbable.

            <br /><br />ResumeCraft reserves the right to enhance user experience by modifying the structure and design of résumés, cover letters, or other services. These improvements are made based on user feedback, research, and consultation with HR experts.
        </p>

        <h1>6. Governing Law</h1>
        <p>These Terms shall be governed and interpreted in accordance with the laws of Bangladesh. Our failure to enforce any right or provision of these Terms shall not be deemed as a waiver of those rights. If any provision of these Terms is deemed invalid or unenforceable by a court in Bangladesh, the remaining provisions of these Terms shall remain in full effect.</p>

        <h1>7. Changes</h1>
        <p>Periodically, ResumeCraft may revise its terms. In such instances, ResumeCraft will take measures to inform you prominently, as deemed suitable under the circumstances. This could involve displaying a noticeable notification within ResumeCraft or sending you an email. Advance notice might also be provided in certain cases. Therefore, it is advised to diligently read any such notice to stay informed.</p>

        <h1>8. Breaches of these terms of use</h1>
        <p>Without prejudicing ResumeCraft's other rights stipulated in these terms and conditions, if you violate these terms of use, ResumeCraft reserves the right to take appropriate actions to address the breach. These actions may include, but are not limited to, suspending your access to ResumeCraft, preventing your access to ResumeCraft, blocking access to ResumeCraft from computers using your IP address, contacting your internet service provider to request the blocking of your access to ResumeCraft, and/or initiating legal proceedings against you.</a>.</p>
    
        <h1>9. Termination</h1>
        <p>
            We may promptly terminate or suspend access to ResumeCraft, without advance notice or liability, in the event of a breach of the Terms or for any other valid reason as deemed by us. All provisions of the Terms will remain in effect after termination, including but not limited to ownership provisions, warranty disclaimers, indemnity, and limitations of liability.

            <br /><br />ResumeCraft reserves the right to delete an account if there are indications of suspicious, unusual, or harmful activities that pose a potential threat to ResumeCraft. However, we have immense trust and regard for our users and do not anticipate needing to terminate anyone's account.
        </p>

        <h1 id="contact">Contact Us</h1>
        <p>
            <ul>
                <li>If you feel like something is missing or misleading in our Terms of Use, please feel free to notify us.</li>
                <li>You can contact us by sending an email to info@devskill.com.</li>
                <li>The Terms of Use was last modified on 24/August/2022.</li>
            </ul>
        </p>
    </div>
</section>
