/*
####################
#    Base Style    #
####################
*/

@page {
    size: 210mm 297mm;
}
@media print {
    @page {
        size: 210mm 297mm;
    }
}
.rct {
    padding: 0.3in;
    width: 210mm;
    height: 297mm;
}
.rct__page_break {
    page-break-before: always;
    padding-top: 0.3in;
}

/*
#######################################
#    Override Bootsrap Class Style    #
#######################################
*/

.rct > .container-fluid {
    padding: 0;
}

/*
####################################
#    All Sections Common Desing    #
####################################
*/

/*
##########################
#    Personal Details    #
##########################
*/

/*
####################
#    Experience    #
####################
*/

/*
###############
#    Skill    #
###############
*/

/*
###############
#    Award    #
###############
*/

/*
#######################
#    Certification    #
#######################
*/

/*
#############################
#    Curricular Activity    #
#############################
*/

/*
###################
#    Education    #
###################
*/

/*
##################
#    Interest    #
##################
*/

/*
#################
#    Project    #
#################
*/

/*
#####################
#    Publication    #
#####################
*/

/*
###################
#    Reference    #
###################
*/
