<section id="details" class="details">
    <div class="container">
        <div class="row content">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img src="assets/img/details-1.png" class="img-fluid  " alt="">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" id="text_content">
                <h3 class="fs-4">Step 1 - Pick a Template:</h3>
                <ul>
                    <li><i class="bi bi-check"></i> Browse a selection of professionally crafted templates.</li>
                    <li><i class="bi bi-check"></i> Choose a template that aligns with your industry and style.</li>
                    <li><i class="bi bi-check"></i> Templates are designed to make your CV visually appealing.</li>
                    <li><i class="bi bi-check"></i> Find options that suit both modern and traditional preferences.</li>
                </ul>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-4 d-flex align-items-center justify-content-center order-1 order-md-2" data-aos="fade-left">
                <img src="assets/img/details-2.png" class="img-fluid  " alt="">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center align-items-center order-2 order-md-1" id="text_content" data-aos="fade-up">
                <h3 class="fs-4">Step 2 - Customize Your Layout:</h3>
                
                <ul>
                    <li><i class="bi bi-check"></i> Tailor the arrangement of sections to your preferred order.</li>
                    <li><i class="bi bi-check"></i> Modify fonts and colors to match your personal brand.</li>
                    <li><i class="bi bi-check"></i> Adjust spacing for optimal readability and visual balance.</li>
                    <li><i class="bi bi-check"></i> Ensure your CV layout reflects your professionalism.</li>
                </ul>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-4 d-flex align-items-center justify-content-center " data-aos="fade-right">
                <img src="assets/img/details-3.png" class="img-fluid " alt="">
            </div>


            <div class="col-md-8 d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
                <h3 class="fs-4">Step 3 - Fill in the Blanks:</h3>
                <ul>
                    <li><i class="bi bi-check"></i> Input your personal information, including contact details.</li>
                    <li><i class="bi bi-check"></i> Provide a detailed work history with job roles and responsibilities.</li>
                    <li><i class="bi bi-check"></i> Showcase your skills, certifications, and relevant training.</li>
                    <li><i class="bi bi-check"></i> Highlight achievements that demonstrate your qualifications.</li>
                </ul>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-4 d-flex align-items-center justify-content-center order-1 order-md-2" data-aos="fade-left">
                <img src="assets/img/details-4.png" class="img-fluid  " alt="">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center align-items-center order-2 order-md-1" data-aos="fade-up" id="text_content">
                <h3 class="fs-4">Step 4 - Hit 'Download!':</h3>
                <ul>
                    <li><i class="bi bi-check"></i> Review your CV to ensure accuracy and completeness.</li>
                    <li><i class="bi bi-check"></i> Once satisfied, click the 'Download' button to finalize.</li>
                    <li><i class="bi bi-check"></i> Receive a downloadable PDF version of your CV instantly.</li>
                    <li><i class="bi bi-check"></i> Your downloadable CV is now ready for job applications.</li>
                </ul>
            </div>
        </div>

    </div>
</section>