<section id="faq" class="faq section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="accordion-list">
            <ul>
                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-1" class="collapsed fw-bold">
                        What is a CV builder and why should I use it?
                        <i class="bx bx-chevron-down icon-show"></i>
                        <i class="bx bx-chevron-up icon-close"></i>
                    </a>
                    <div id="accordion-list-1" class="collapse" data-bs-parent=".accordion-list">
                        <p class="lh-lg">
                            A CV builder is an online tool that helps you create a professional and polished curriculum vitae (CV) or resume.
                            It streamlines the process by providing pre-designed templates, formatting options, and content suggestions.
                            Using a CV builder saves you time and ensures your CV looks professional and well-organized.
                        </p>
                    </div>
                </li>


                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed fw-bold">
                        Do I need any technical skills to use your CV builder? 
                        <i class="bx bx-chevron-down icon-show"></i>
                        <i class="bx bx-chevron-up icon-close"></i>
                    </a>
                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                        <p class="lh-lg">
                            No, our CV builder is designed to be user-friendly and intuitive. 
                            You don't need any technical skills to create a CV. 
                            Simply choose a template, fill in your information, and customize it to your preferences. 
                            The interface is designed to guide you through the process step by step.
                        </p>
                    </div>
                </li>


                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed fw-bold">
                        Can I customize the templates to match my personal style? 
                        <i class="bx bx-chevron-down icon-show"></i>
                        <i class="bx bx-chevron-up icon-close"></i>
                    </a>
                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                        <p class="lh-lg">
                            Absolutely! Our CV builder offers a variety of templates that you can personalize to match your unique style. 
                            You can customize colors, fonts, headings, and even rearrange sections to create a CV that reflects your personality and professional identity.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed fw-bold">
                        Is my personal information secure when using the CV builder? 
                        <i class="bx bx-chevron-down icon-show"></i>
                        <i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                        <p class="lh-lg">
                            Yes, we take your privacy and security seriously. 
                            Your personal information and CV details are encrypted and stored securely on our servers.
                            We do not share your information with any third parties without your consent.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed fw-bold">
                        Is there a limit to the number of CVs I can create using the builder? 
                        <i class="bx bx-chevron-down icon-show"></i>
                        <i class="bx bx-chevron-up icon-close"></i>
                    </a>
                    <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                        <p class="lh-lg">
                            There's no limit to the number of CVs you can create with our builder. 
                            You can generate multiple CVs for different purposes, such as tailoring one for specific industries or job roles. 
                            This feature comes in handy if you're exploring various career paths or considering relocating to different regions.
                        </p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>