<section id="features" class="features">
    <div class="container">
        <div class="section-title">
            <h2>App Features</h2>
            <p>Streamline your path to success with our user-friendly CV builder. Choose from tailored templates, receive expert guidance, and create a standout CV that opens doors to your dream career.</p>
        </div>

        <div class="row no-gutters">
            <div class="col-xl-7 d-flex align-items-stretch order-xl-1 order-2">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up">
                            <i class="bx bx-receipt"></i>
                            <h4>Easy-to-Use Templates</h4>
                            <p>Choose from a variety of professionally designed templates tailored to IT industries</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Step-by-Step Guidance</h4>
                            <p>Create your CV with confidence using our intuitive step-by-step process that guides you through each section</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-images"></i>
                            <h4>Dynamic Editing</h4>
                            <p>Add, edit, and rearrange sections effortlessly. Our platform dynamically adjusts the layout as you make changes</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-shield"></i>
                            <h4>Preview and Download</h4>
                            <p>See a real-time preview of your CV and download it as a PDF to ensure it looks perfect on any device</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-atom"></i>
                            <h4>Auto-Save and Secure Storage</h4>
                            <p>Your progress is always saved, ensuring you never lose your work. Your information is kept secure and private</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-id-card"></i>
                            <h4>Expert Tips and Examples</h4>
                            <p>Get valuable suggestions and examples for each section to craft a standout CV that captures attention</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-xl-2 order-1" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/features.svg" class="img-fluid h-75" alt="">
            </div>
        </div>

    </div>
</section>