<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row flex-sm-row-reverse align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-center">
                    <img class="w-100 img-fluid" src="/img/CV.png"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex">
                    <div>
                        <h1 class="text-sm-center text-md-start strong">Craft Your Professional Resume</h1>
                        <p class="text-sm-center text-md-start text-muted">Stand Out with a Modern Resume: Customizable Templates, Quick PDF Download.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>