@model ChangeEmailModel
@{
    ViewData["Title"] = "Change Email";
    Layout = "_AccountLayout";
}

<div class="row">
    <div class="w-lg-500px p-10 p-lg-15 mx-auto">
        <form class="form w-100" asp-antiforgery="true" asp-area="" asp-controller="Account" asp-action="ChangeEmail" method="post">

            <div class="text-center mb-10">
                <!--begin::Title-->
                <h1 class="text-dark mb-3">@ViewData["Title"]</h1>
                <!--end::Title-->
                <div class="text-gray-400 fw-semibold fs-5">Enter new email to change current email.<hr></div>
            </div>

            <!--begin::Status Message-->
            <partial name="_StatusMessage" for="StatusMessage" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <!--end::Status Message-->
            <!--begin::Input group-->
            <div class="fv-row mb-10">
                <label asp-for="NewEmail" class="form-label">E-mail</label>
                <input asp-for="NewEmail" class="form-control form-control-solid" autocomplete="off" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="NewEmail" class="text-danger"></span>
            </div>
            <!--end::Input group-->
            <!--begin::Actions-->
            <div class="fv-row mb-10 text-center">
                <button type="submit" class="btn btn-lg btn-success fw-bold me-4" style="background-color: #FF914D; color: #FFFFFF;">Change Email</button>
                <a href="../Account/Login" class="btn btn-lg btn-light-primary fw-bold">Cancel</a>
            </div>
            <!--end::Actions-->
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
