@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "_AccountLayout";
}

<div class="row">
    <div class="w-lg-500px p-10 p-lg-15 mx-auto">
        <form method="post" asp-antiforgery="true" asp-area="" asp-controller="Account" asp-action="ChangePassword">

            <div class="text-center mb-10">
                <!--begin::Title-->
                <h1 class="text-dark mb-3">@ViewData["Title"]</h1>
                <!--end::Title-->
                <div class="text-gray-400 fw-semibold fs-5">Your account password to change here.<hr></div>
            </div>

            <!--begin::Status Message-->
            <partial name="_StatusMessage" for="StatusMessage" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <!--end::Status Message-->
            <!--begin::Input group-->
            <div class="form-floating mb-3">
                <input asp-for="OldPassword" class="form-control" type="password" autocomplete="current-password" aria-required="true" placeholder="Enter old password." />
                <label asp-for="OldPassword" class="form-label"></label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="Enter new password." />
                <label asp-for="NewPassword" class="form-label"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="Confirm new password." />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <!--end::Input group-->
            <!--begin::Actions-->
            <div class="text-center mb-10">
                <br>
                <button type="submit" class="w-100 btn btn-lg btn-success" style="background-color: #FF914D; color: #FFFFFF;">Update Password</button>
            </div>
            <!--end::Actions-->
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
