@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm Email Change";
    Layout = "_UserLayout";
}

<br>
<h1>@ViewData["Title"]!</h1>
<hr>
<partial name="_StatusMessage" model="Model.StatusMessage" />
