<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Template &mdash; List</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="./resume/template_1.html">Resume Template 1</a></li>
                <li><a href="./resume/template_2.html">Resume Template 2</a></li>
                <li><a href="./covert-letter/template_1.html">Cover Letter Template 1</a></li>
                <li><a href="./covert-letter/template_2.html">Cover Letter Template 2</a></li>
            </ul>
        </nav>
    </body>
</html>
