html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {

    margin-bottom: 60px;
    font-family: 'Merriweather Sans', sans-serif;
}
#termsofuse {
    font-family: sans-serif;
}
#termsofuse p{
    text-align:justify;
}

#termsofuse h1 {
    color: #5777ba;
    margin-bottom:20px;
}

